Pillow==9.3.0        # Pour manipuler les images (JPEG, PNG, métadonnées EXIF)
mutagen==1.45.1      # Pour manipuler les fichiers MP3 et MP4 (métadonnées)
numpy==1.23.4        # Pour manipuler les données d'image en tant que tableau (watermark)
